* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Rubik", sans-serif;
    background-color: hsl(223, 19%, 93%);
    background-color: hsl(238, 32%, 34%);
  }
  .header {
    display: flex;
    text-decoration: none;
    /* flex-start
      center
      flex-end */
    justify-content: flex-end;
    background-color: rgb(89, 46, 109);
    overflow: hidden;
  }
  
  nav{
    height: 6rem;
    width: 100vw;
    background-color: #242546;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    z-index: 10;
  }
  /*Styling logo*/
.logo{
  padding:1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

/*Styling Links*/
.nav-links{
  display: flex;
  list-style: none; 
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a{
  text-decoration: none;
  margin: 0 0.7vw;
  color: #fff;

}
.nav-links li a:hover {
  color: #ebfa1d;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #ebfa1d;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
  width: 80%;
}

/*Styling Buttons*/
.login-button{
  background-color: #8f2aee;
  border: 1.5px solid #8f2aee;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;

}
.login-button:hover {
  color: #131418;
  background-color: #4f80a0;
  border:1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.join-button{
  color: #131418;
  background-color: #8261fb;
  border: 1.5px solid #8261fb;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.join-button:hover {
  color: #f05e5e;
  background-color: #31154b;
  border:1.5px solid #f05e5e;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
  nav{
      position: fixed;
      z-index: 3;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .nav-links{
      position: fixed;
      background: #131418;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      opacity: 0;
  }
  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav-links li:nth-child(7){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
  li.fade{
      opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
  
  .container {
    display: flex;
    justify-items: center;
  }
  
  .row {
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
  }
  
  .card {
    border-radius: 8px;
    background-color: hsl(236, 50%, 94%);
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
  }
  
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-profile {
    display: flex;
    align-items: center;
  }
  
  .card-profile img {
    width: 35px;
    cursor: pointer;
  }
  
  .card-profile span {
    padding-left: 10px;
  }
  
  .card-button-plus-minus {
    color: hsl(238, 40%, 52%);
    padding-left: 10px;
    padding-right: 10px;
    background-color: hsl(236, 50%, 94%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .card-button-plus-minus button {
    background-color: transparent;
    border: none;
  }
  
  .card-header-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .card-header div {
    margin-bottom: 10px;
  }
  
  .text-primary {
    color: hsl(238, 40%, 52%);
  }
  
  .text-dark {
    color: hsl(211, 10%, 45%);
  }
  
  .comment-container {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
  }
  
  .flex-grow {
    flex-grow: 2;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .flex-grow textarea {
    width: 100%;
    border-radius: 12px;
    border: 2px solid #ccc;
    font-family: "Rubik", sans-serif;
    resize: none;
    padding: 20px;
    font-size: 16px;
  }
  .button1 {
    cursor: pointer;
  }
  .commment-profile {
    width: 50px;
  }
  
  .btn-primary {
    background-color: hsl(238, 40%, 52%);
    border: none;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    /* top - right - bottom - left */
    padding: 15px 30px;
  }
  
  /* es para indicar que estoy esta carpeta */
  /* ./ */
  
  /* retroceder una carpeta */
  /* cada 2 puntos + / es una caprpeta atras */
  /* ../../../ */
  .line-with-card {
    display: flex;
    margin-bottom: 20px;
  }
  
  .hr {
    height: 94%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #ccc;
    width: 2px;
    border: 2px;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .btn-primary:hover {
    opacity: 0.5;
  }
  .button1:hover {
    opacity: 0.5;
    color:  hsl(238, 95%, 75%);
  }
  .card-profile :hover {
      opacity: 0.5;
      color: hsl(238, 95%, 75%);
  }
  span {
      cursor: pointer;
  }
  